<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyArtMuseum" connectionString="Data Source=DIANA_TIMIS\SQLEXPRESS;Initial Catalog=MyArtMuseum;Integrated Security=True;Encrypt=False"/>
	</connectionStrings>

	<appSettings>
		<add key="CurrentScenario" value="Scenario1"/>

		<add key="Scenario1_Caption" value="Art Styles and their Artists Management"/>
		<add key="Scenario1_ParentTable" value="ArtStyles"/>
		<add key="Scenario1_ChildTable" value="Artists"/>
		<add key="Scenario1_ForeignKey" value="asID"/>

		<add key="Scenario2_Caption" value="Employees and Exhibitions"/>
		<add key="Scenario2_ParentTable" value="Employees"/>
		<add key="Scenario2_ChildTable" value="Exhibitions"/>
		<add key="Scenario2_ForeignKey" value="curatorID"/>
	</appSettings>
</configuration>